<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  
		   <p>              		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - Department of the Navy Science and Technology, USA  <br />
		  - National Science Foundation, USA<br />
                  - Department of Energy, USA<br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Mechanical Engineering building<br />
		  Office: ME 2143, Lab: ME 3151 <br />
		  585 Purdue Mall <br />
		  West Lafayette, IN 47907 <br />	
            (<a href="hhttps://goo.gl/maps/1uNAsAnccbQtkRVv5">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
